.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 4px 16px;
  position: relative;
  z-index: 10;
}

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  position: relative;
}

.badge {
  position: absolute;
  top: 4px;
  right: 0;
  background-color: var(--color-text);
  color: var(--color-white);
  font-size: 9px;
  font-weight: 600;
  letter-spacing: 0.36px;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 12px;
}

.logoText {
  font-family: var(--font-display), var(--font-primary);
  font-size: 21px;
  line-height: 24px;
  color: var(--color-green);
  text-align: center;
}
